<%= content_for :head_tags do %>
<%= javascript_include_tag 'edicao_usuario.js'%>
<% end %>

<div align="center">
  <h1>Editar Informações</h1>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div>
    <div class="form-row justify-content-center">
      <div class="form-group col-md-2">
        <label> Nome </label>
        <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name",:placeholder => " ", required: true, class: "form-control"%>
      </div>
      <div class="form-group col-md-2">
        <label> Sobrenome </label>
        <%= f.text_field :last_name, autocomplete: "last_name", :placeholder => " ", required: true, class: "form-control" %>
      </div>
    </div>

    <div class="form-row justify-content-center">
      <div class="form-group col-md-2">
        <label> Peso </label>
        <%= f.number_field :weight, :placeholder => " ", required: true, class: "form-control" %>
      </div>
      <div class="form-group col-md-2">
        <label> Altura </label>
        <%= f.number_field :height, step: 0.01, :placeholder => " ", required: true, class: "form-control" %>
      </div>
    </div>

    <div class="form-row justify-content-center">
      <div class="form-group col-md-2">
        <label> Cidade </label>
        <%= f.text_field :city, autocomplete: "city", :placeholder => " ", required: true, class: "form-control" %>
      </div>
      <div class="form-group col-md-2">
        <label> Estado </label>
        <%= f.text_field :state, autocomplete: "last_name", :placeholder => " ", required: true, class: "form-control" %>
      </div>
    </div>

    <div class="form-row justify-content-center">
      <div class="form-group col-md-2">
        <label> País </label>
        <%= f.text_field :country, autocomplete: "country", :placeholder => " ", required: true, class: "form-control" %>
      </div>
      <div class="form-group col-md-2">
        <label> Data de nascimento </label>
        <%= f.date_field :birthdate, :placeholder => " ", required: true, class: "form-control" %>
      </div>
    </div>


    <div class="form-row justify-content-center">
      <div class="form-group col-md-2">
        <label> Tipo Sanguíneo </label>
        <br/>
        <%= f.select(:bloodtype, User.bloodtypes.keys.map {|bloodtype| [bloodtype,bloodtype]}, class: "form-control")%>
      </div>
      <div class="form-group col-md-2">
        <label> Email </label>
        <%= f.text_field :email, autocomplete: "email", :placeholder => " ", required: true, class: "form-control" %>
      </div>
    </div>

    <!--
      <div class="flex-layout">
        <div class="field flex-cell">
          <label class="pure-material-textfield-outlined">
            <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name",:placeholder => " ", required: true %>
            <span>Nome</span>
          </label>
        </div>
        <div class="field flex-cell">
          <label class="pure-material-textfield-outlined">
            <%= f.text_field :last_name, autocomplete: "last_name", :placeholder => " ", required: true %>
            <span>Sobrenome</span>
          </label>
        </div>
      </div>
      <div class="flex-layout">
        <div class="field flex-cell">
          <label class="pure-material-textfield-outlined">
            <%= f.number_field :weight, :placeholder => " ", required: true %>
            <span>Peso</span>
          </label>
        </div>

        <div class="field flex-cell">
          <label class="pure-material-textfield-outlined">
            <%= f.number_field :height, step: 0.01, :placeholder => " ", required: true %>
            <span>Altura</span>
          </label>
        </div>
      </div>
      <div class="flex-layout">
        <div class="field flex-layout flex-cell">
          <label class="pure-material-textfield-outlined">
            <%= f.text_field :city, autocomplete: "city", :placeholder => " ", required: true %>
            <span>Cidade</span>
          </label>
        </div>
        <div class="field flex-cell">
          <label class="pure-material-textfield-outlined">
            <%= f.text_field :state, autocomplete: "state", :placeholder => " ", required: true %>
            <span>Estado</span>
          </label>
        </div>
      </div>
      <div class="flex-layout">
        <div class="field flex-layout flex-cell">
          <label class="pure-material-textfield-outlined">
            <%= f.text_field :country, autocomplete: "country", :placeholder => " ", required: true %>
            <span>País</span>
          </label>
        </div>
        <div class="field flex-cell">
          <label class="pure-material-textfield-outlined">
            <%= f.date_field :birthdate, :placeholder => " ", required: true %>
            <span>Data de Nascimento</span>
          </label>
        </div>
      </div>
      <div class="flex-layout">
        <div class="field flex-cell">
          <label class="pure-material-textfield-outlined">
            <span>Tipo Sanguíneo</span>
            <%= f.select(:bloodtype, User.bloodtypes.keys.map {|bloodtype| [bloodtype,bloodtype]})%>
          </label>
        </div>
        <div class="field flex-cell">
          <label class="pure-material-textfield-outlined">
            <%= f.text_field :email, autocomplete: "email", :placeholder => " ", required: true %>
            <span>Email</span>
          </label>
        </div>
      </div>
    -->


    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="form-row justify-content-center">
      <div class="form-group col-md-2">
        <label> Nova Senha </label>
        <%= f.password_field :password, autocomplete: "new-password", :placeholder => " ", class:"form-control" %>
      </div>
      <div class="form-group col-md-2">
        <label> Confirmar Senha </label>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", :placeholder => " ", class: "form-control" %>
      </div>
    </div>
    <div class="form-row justify-content-center">
      <div class="form-group col-md-2">
        <label> Senha Atual </label>
        <%= f.password_field :current_password, autocomplete: "current-password", :placeholder => " ", required: true, class: "form-control" %>
      </div>
    </div>
  </div>
  <!--
    <div class="flex-layout">
      <div class="field flex-layout flex-cell">
        <label class="pure-material-textfield-outlined">
          <%= f.password_field :password, autocomplete: "new-password", :placeholder => " " %>
          <span>Nova senha</span>
        </label>
      </div>
      <div class="field flex-cell">
        <label class="pure-material-textfield-outlined">
          <%= f.password_field :password_confirmation, autocomplete: "new-password", :placeholder => " " %>
          <span>Confirme a senha</span>
        </label>
      </div>
    </div>
    <div class="field flex-cell">
      <label class="pure-material-textfield-outlined">
        <%= f.password_field :current_password, autocomplete: "current-password", :placeholder => " ", required: true %>
        <span>Senha antiga</span>
      </label>
    </div>
  -->

  <div class="actions">
    <%= f.submit "Atualizar informações", id: "btn_salvar", class: "btn btn-danger edit-btn-danger btn-medium" %>
  </div>
  <% end %>
  <div class="flex-layout">
    <div class="field flex-layout flex-cell">
      <label class="pure-material-textfield-outlined">
        <%= f.password_field :password, autocomplete: "new-password", :placeholder => " " %>
        <span>Nova senha</span>
      </label>
    </div>
    <div class="field flex-cell">
      <label class="pure-material-textfield-outlined">
        <%= f.password_field :password_confirmation, autocomplete: "new-password", :placeholder => " " %>
        <span>Confirme a senha</span>
      </label>
    </div>
  </div>

  <div class="field flex-cell">
    <label class="pure-material-textfield-outlined">
      <%= f.password_field :current_password, autocomplete: "current-password", :placeholder => " ", required: true %>
      <span>Senha antiga</span>
    </label>
  </div>

  <div class=flex-cell>
    <%= link_to raw('<span class="oi oi-warning"> </span>Cancelar minha conta'), registration_path(resource_name), data: { confirm: "Tem certeza?" }, method: :delete, class: "btn btn-danger edit-btn-danger btn-medium"%>
  </div>
  <div class=flex-cell>
    <%= link_to raw("<span class='oi oi-arrow-left'> </span>Voltar"), :back, class: "btn btn-danger edit-btn-danger" %>
  </div>

</div>


</div>
