<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>BlooDiscounts</title>
</head>

<body>
  <div align="center">
    <h1> BlooDiscounts </h1>
    <div class="img-logo">
      <%= image_tag "logo.png" %>
    </div>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |form| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <br/>
      <h3>Cadastro</h3>
      <br/>
      <div class="form-row justify-content-center">
        <div class="form-group col-md-2">
          <label> Nome </label>
            <%= form.text_field :first_name, autofocus: true, :placeholder => " ", class: "form-control" %>
        </div>
        <div class="form-group col-md-2">
          <label>Sobrenome</label>
            <%= form.text_field :last_name, autocomplete: "off", :placeholder => " ", class: "form-control" %>

        </div>
      </div>

      <div class="flex-layout">
        <div class="form-group col-md-2">
          <label>Peso</label>
            <%= form.number_field :weight, autocomplete: "off", min: 0, :placeholder => " ", class: "form-control" %>
        </div>
        <div class="form-group col-md-2">
          <label>Altura </label>
            <%= form.number_field :height, step: :any, autocomplete: "off", in: 1.0 .. 4.0 , :placeholder => " ", class: "form-control" %>

        </div>
      </div>

      <div class="flex-layout">
        <div class="form-group col-md-2">
          <label>Cidade</label>
            <%= form.text_field :city, autocomplete: "off", :placeholder => " ", class: "form-control" %>

        </div>
        <div class="form-group col-md-2">
          <label>Estado</label>
            <%= form.text_field :state, autocomplete: "off", :placeholder => " ", class: "form-control" %>
        </div>
      </div>

      <div class="flex-layout">
        <div class="form-group col-md-2">
          <label>País</label>
            <%= form.text_field :country, autocomplete: "off", :placeholder => " ", class: "form-control" %>
        </div>
        <div class="form-group col-md-2">
          <label>Data de Nascimento</label>
            <%= form.date_field :birthdate, autocomplete: "off", :placeholder => " ", class: "form-control" %>
        </div>
      </div>

      <div class="flex-layout">
        <div class="form-group col-md-2">
          <label>Senha</label>
            <%= form.password_field :password, autocomplete: "new-password", :placeholder => " ", class: "form-control" %>
        </div>
        <div class="form-group col-md-2">
          <label>Confirmar Senha</label>
            <%= form.password_field :password_confirmation, autocomplete: "new-password", :placeholder => " ", class: "form-control" %>

        </div>
      </div>

      <div class="flex-layout">
        <label>Email<label>
          <%= form.text_field :email, autocomplete: "off", :placeholder => " ", class: "form-control" %>
      </div>

      <label>Tipo Sanguíneo</label>
      <%= form.select(:bloodtype, User.bloodtypes.keys.map {|bloodtype| [bloodtype,bloodtype]}, class: "form-control") %>

      <br/>
      <br/>

      <div class="actions flex-layout flex-cell">
        <%= form.submit "Cadastrar", :class => "btn btn-danger edit-btn-danger btn-medium" %>
      </div>

      <br/>

      <%= link_to raw("<span class='oi oi-arrow-left'> </span>Voltar"), root_path, :class => "btn btn-danger edit-btn-danger" %>
    <% end %>
  </div>
</body>
</html>
