<%= form_with(model: admin, local: true) do |form| %>
<% if admin.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(admin.errors.count, "erro") %> impediram a atualização das informações:</h2>
  <ul>
    <% admin.errors.full_messages.each do |message| %>
    <%= message %><br/>
    <% end %>
  </ul>
</div>
<% end %>
<div class="flex-layout">
  <div class="field flex-cell">
    <label class="pure-material-textfield-outlined">
      <%= form.text_field :adm_username, autofocus: true, :placeholder => " " %>
      <span>Admin Username</span>
    </label>
  </div>
  <div class="field flex-cell">
    <label class="pure-material-textfield-outlined">
      <%= form.text_field :adm_name, autocomplete: "off", :placeholder => " " %>
      <span>Nome</span>
    </label>
  </div>
</div>
<div class="flex-layout">
  <div class="field flex-cell">
    <label class="pure-material-textfield-outlined">
      <%= form.text_field :adm_cpf, autocomplete: "off", :placeholder => " " %>
      <span>CPF</span>
    </label>
  </div>
  <div class="field flex-layout flex-cell">
    <label class="pure-material-textfield-outlined">
     <%= form.password_field :password, autocomplete: "off", :placeholder => " " %>
     <span>Senha</span>
   </label>
 </div>
</div>
<br/>
  <span>Hospital</span>
<br/>
  <%if (!@hospital_options.nil? || !@hospital_options.blank?)
      options = options_from_collection_for_select(@hospital_options, 'id','hosp_name')
      form.select :hospital_name,  options
    else
  %>
    <span>Não há hemocentros registrados.</span>
  <%end%>
  <br/>
  <br/>
  <div class="actions flex-layout flex-cell">
    <%= form.submit "Submeter", :class => "custom-button ripple" %>
  </div>
  <% end %>
