<p id="notice"><%= notice %></p>

<p>
  <strong>Adm username:</strong>
  <%= @admin.adm_username %>
</p>

<p>
  <strong>Password:</strong>
  <%= @admin.password %>
</p>

<p>
  <strong>Adm name:</strong>
  <%= @admin.adm_name %>
</p>

<p>
  <strong>Adm cpf:</strong>
  <%= @admin.adm_cpf %>
</p>

<p>
  <strong>Hospital name:</strong>
  <%= @admin.hospital_name %>
</p>

<%= link_to 'Edit', edit_admin_path(@admin) %> |
<%= link_to 'Back', admins_path %>
