<%= form_for @store do |form| %>  
  <div class="flex-layout">
    <div class="field flex-cell">
      <label class="pure-material-textfield-outlined">
        <%= form.text_field :name, autofocus: true, :placeholder => " " %>
        <span>Nome</span>
      </label>
    </div>
    <div class="field flex-cell">
      <label class="pure-material-textfield-outlined">
        <%= form.text_field :category, autocomplete: "off", :placeholder => " " %>
        <span>Categoria</span>
      </label>
    </div>
  </div>
  <div class="flex-layout">
    <div class="field flex-cell">
      <label class="pure-material-textfield-outlined">
        <%= form.text_field :address, autocomplete: "off", :placeholder => " " %>
        <span>Endereço</span>
      </label>
    </div>
    <div class="field flex-cell">
      <label class="pure-material-textfield-outlined">
        <%= form.text_field :email, autocomplete: "off", :placeholder => " " %>
        <span>Email para contato</span>
      </label>
    </div>
  </div>
  <div class="field flex-layout flex-cell">
    <label class="pure-material-textfield-outlined">
      <%= form.text_field :phone, autocomplete: "off", :placeholder => " " %>
      <span>Telefone para contato</span>
    </label>
  </div>
  <br/>
  <h3>Recompensas</h3>
  <%= form.fields_for :rewards do |re| %>
    <p>
      <%= re.check_box :_destroy %>
      <%= re.label :_destroy, 'Remover' %>
      <div class="flex-layout">
        <div class="field flex-cell">
          <label class="pure-material-textfield-outlined">
            <%= re.text_field :name, autofocus: true, :placeholder => " " %>
            <span>Nome</span>
          </label>
        </div>
        <div class="field flex-cell">
          <label class="pure-material-textfield-outlined">
            <%= re.text_field :category, autocomplete: "off", :placeholder => " " %>
            <span>Categoria</span>
          </label>
        </div>
      </div>
      <div class="flex-layout">
        <div class="field flex-cell">
          <label class="pure-material-textfield-outlined">
            <%= re.number_field :quantity, autofocus: true, step: 0, min: 1, :placeholder => " " %>
            <span>Quantidade</span>
          </label>
        </div>
        <div class="field flex-cell">
          <label class="pure-material-textfield-outlined">
            <%= re.number_field :cost, autocomplete: "off", step: 0, min: 1, :placeholder => " " %>
            <span>Valor</span>
          </label>
        </div>
      </div>
    </p>
  <% end %>
  <p>
    <%= form.submit 'Adicionar outra recompensa', :name => "add_reward", :class => "custom-button ripple" %>
    <%= form.submit 'Remover recompensas', :name => "remove_reward", :class => "custom-button ripple" %>
  </p>
  <%= form.submit 'Submeter' ,:class => "custom-button ripple" %>
  <br/>
  <br/>
  <%= link_to 'Voltar', :back %>
<% end %>