
<div align="center">
<h1>Rewards</h1>

<table>
  <thead>
    <tr>
      <th><h2>Name</h2></th>
      <th><h2>Category</h2></th>
      <th><h2>Quantity</h2></th>
      <th><h2>Cost</h2></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rewards.each do |reward| %>
      <tr>
        <td><p><%= reward.name %></p></td>
        <td><p><%= reward.category %></p></td>
        <td><p><%= reward.quantity %></p></td>
        <td><p><%= reward.cost %></p></td>
        <td><%= link_to 'Retrieve', reward %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= button_to "Voltar", user_points_path, :method => :get,:class => "custom-button ripple" %>
</div>