<p id="notice"><%= notice %></p>

<div align="center">
<h1>Donations</h1>

<table style="max-width:75%" class="table table-hover">
  <thead>
    <tr>
      <th>User cpf</th>
      <th>Hospital name</th>
      <th>Donated amount</th>
      <th>Donation date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @donations.each do |donation| %>
      <tr>
        <td><%= donation.user_cpf %></td>
        <td><%= donation.hospital_name %></td>
        <td><%= donation.donated_amount %></td>
        <td><%= donation.donation_date %></td>
        <td><%= link_to raw('<span class="oi oi-eye"></span>'), donation %></td>
        <td><%= link_to raw('<span class="oi oi-pencil"></span>'), edit_donation_path(donation) %></td>
        <td><%= link_to raw('<span class="oi oi-x"></span>'), donation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to raw('<span class="oi oi-plus"></span>New Donation'), new_donation_path, class: "btn btn-danger edit-btn-danger btn-medium" %>
</div>
