<% provide :head_tags do %>
<meta name='turbolinks-visit-control' content='reload'>
  <script>
    var posicao;
    // var geocoder = null;
    //localização do usuario
    function getLocation() {
      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(initMap);
      }else {
        alert("Geolocation is not supported by this browser.");
      }
    }
    //inicia google maps
    function initMap(pos) {
      //geocoder = new google.maps.Geocoder();
      // coordenadas
      posicao = pos;
      var myCoords = new google.maps.LatLng(posicao.coords.latitude, posicao.coords.longitude);
      var mapOptions = {
        center: myCoords,
        zoom: 16
      };
      // marcador vermelho no mapa
      var map = new google.maps.Map(document.getElementById('map'), mapOptions);
      var marker = new google.maps.Marker({
        position: myCoords,
        map: map
      });
    }
    document.addEventListener("DOMContentLoaded", function(){
      getLocation();
    });

  </script>
<% end %>

<div align="center">
<p id="notice"><%= notice %></p>

<h1>Hospitals</h1>

<%= link_to 'Add New Hospital', new_hospital_path %>

<table width="1200">
  <thead>
    <tr>
      <th>Name</th>
      <th>City</th>
      <th>State</th>
      <th>Lattitude</th>
      <th>Longitude</th>
      <th>Level A+</th>
      <th>Level A-</th>
      <th>Level B+</th>
      <th>Level B-</th>
      <th>Level O+</th>
      <th>Level O-</th>
      <th>Level AB+</th>
      <th>Level AB-</th>
    </tr>
  </thead>

  <tbody>
    <% @hospitals.each do |hospital| %>
      <tr>
        <td><%= hospital.hosp_name %></td>
        <td><%= hospital.hosp_city %></td>
        <td><%= hospital.hosp_state %></td>
        <td><%= hospital.lattitude %></td>
        <td><%= hospital.longitude %></td>
        <td><%= hospital.a_plus %></td>
        <td><%= hospital.a_minus %></td>
        <td><%= hospital.b_plus %></td>
        <td><%= hospital.b_minus %></td>
        <td><%= hospital.o_plus %></td>
        <td><%= hospital.o_minus %></td>
        <td><%= hospital.ab_plus %></td>
        <td><%= hospital.ab_minus %></td>
        <td><%= link_to 'Show', hospital %></td>
        <td><%= link_to 'Edit', edit_hospital_path(hospital) %></td>
        <td><%= link_to 'Destroy', hospital, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<button onclick="getLocation()">Aperta</button>
<p>
    <div id="map"></div>
</p>
<br>

</div>
