
<div align="center">
<p id="notice"><%= notice %></p>

<h1>Hospitals</h1>

<%= link_to 'Add New Hospital', new_hospital_path %>

<table width="1200" class="table table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>City</th>
      <th>State</th>
      <th>Lattitude</th>
      <th>Longitude</th>
      <th>Level A+</th>
      <th>Level A-</th>
      <th>Level B+</th>
      <th>Level B-</th>
      <th>Level O+</th>
      <th>Level O-</th>
      <th>Level AB+</th>
      <th>Level AB-</th>
    </tr>
  </thead>

  <tbody>
    <% @hospitals.each do |hospital| %>
      <tr>
        <td><%= hospital.hosp_name %></td>
        <td><%= hospital.hosp_city %></td>
        <td><%= hospital.hosp_state %></td>
        <td><%= hospital.lattitude %></td>
        <td><%= hospital.longitude %></td>
        <td><%= hospital.a_plus %></td>
        <td><%= hospital.a_minus %></td>
        <td><%= hospital.b_plus %></td>
        <td><%= hospital.b_minus %></td>
        <td><%= hospital.o_plus %></td>
        <td><%= hospital.o_minus %></td>
        <td><%= hospital.ab_plus %></td>
        <td><%= hospital.ab_minus %></td>
        <td><%= link_to 'Show', hospital %></td>
        <td><%= link_to 'Edit', edit_hospital_path(hospital) %></td>
        <td><%= link_to 'Destroy', hospital, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

</div>
