
<div align="center">



<% provide :head_tags do %>
  <meta name='turbolinks-visit-control' content='reload'>
  <script>
    function initMap(lat, lng) {
      var myCoords = new google.maps.LatLng(lat, lng);
      var mapOptions = {
        center: myCoords,
        zoom: 14
      };
      var map = new google.maps.Map(document.getElementById('map'), mapOptions);
      var marker = new google.maps.Marker({
        position: myCoords,
        map: map
      });
    }
    document.addEventListener("DOMContentLoaded", function(){
      initMap(<%=@hospital.lattitude%>, <%=@hospital.longitude%>)
    });
  </script>
<% end %>
<div align="center">

<p>
  <strong>Hospital name:</strong>
  <%= @hospital.hosp_name %>
</p>

<p>
  <strong>Hospital city:</strong>
  <%= @hospital.hosp_city %>
</p>

<p>
  <strong>Hospital state:</strong>
  <%= @hospital.hosp_state %>
</p>

<p>
  <strong>Lattitude:</strong>
  <%= @hospital.lattitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @hospital.longitude %>
</p>

<p>
  <strong>Level A+:</strong>
  <%= @hospital.a_plus %>
</p>

<p>
  <strong>Level A-:</strong>
  <%= @hospital.a_minus %>
</p>

<p>
  <strong>Level B+:</strong>
  <%= @hospital.b_plus %>
</p>

<p>
  <strong>Level B-:</strong>
  <%= @hospital.b_minus %>
</p>

<p>
  <strong>Level O+:</strong>
  <%= @hospital.o_plus %>
</p>

<p>
  <strong>Level O-:</strong>
  <%= @hospital.o_minus %>
</p>

<p>
  <strong>Level AB+:</strong>
  <%= @hospital.ab_plus %>
</p>

<p>
  <strong>Level AB-:</strong>
  <%= @hospital.ab_minus %>
</p>
<!-- div para o google maps -->
<p>
    <div id="map"></div>
</p>
<%= link_to 'Edit', edit_hospital_path(@hospital), class: "btn btn-danger edit-btn-danger btn-medium" %>
<br/>
<%= link_to raw('<span class="oi oi-arrow-left"></span>Back'), hospitals_path, class: "btn btn-danger edit-btn-danger" %>

</div>
