<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>BlooDiscounts</title>
</head>

<body>
  <div align="center">
    <h1> BlooDiscounts </h1>
    <div class="img-logo">
      <%= image_tag "logo.png" %>
    </div>
    <br />
    <h3>Login</h3>
    <br />
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <label class="pure-material-textfield-outlined">
        <%= f.email_field :email, autocomplete: "email" ,autofocus: true, :placeholder => " " %>
        <span>Email</span>
      </label>
    </div>
    <div class="field">
      <label class="pure-material-textfield-outlined">
        <%= f.password_field :password, autocomplete: "current-password", :placeholder => " " %>
        <span>Senha</span>
      </label>
    </div>
    <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label 'Lembre de mim' %>
    </div>
    <% end %>
    <br />
    <div class="actions">
      <%= f.submit "Entrar", :class => "btn btn-danger edit-btn-danger btn-medium" %>
    </div>
    <br />
    <%= link_to 'Voltar', root_path %>
    <% end %>
  </div>
</body>

</html>