<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>BlooDiscounts</title>
</head>
<body>
    <div align="center">
        <h1> BlooDiscounts </h1>
        <div class="img-logo">
            <%= image_tag "logo.png" %>
        </div>
        <br/>
        <br/>
        <div class= "center">
            <% if current_user %>
                <h3><%="Olá, " +  current_user.first_name + " " + +  current_user.last_name %></h3>
                <br/>

                <%= button_to "Resgatar pontos", user_points_path, :method => :get,
                :class => "btn btn-danger edit-btn-danger btn-medium" %>

                <%# <%= button_to "Hospitais próximos", :class => "btn btn-danger edit-btn-danger btn-medium"  %>
                <br/>

                <%= button_to "Exibir perfil", user_show_path, :method => :get, :class => "btn btn-danger edit-btn-danger btn-medium" %>
                <br/>

                <%= button_to "Sair", destroy_user_session_path, :method => :delete,
                :class => "btn btn-danger edit-btn-danger btn-medium" %>
            <% end %>
            <br/>
            <br/>
        </div>
    </div>
</body>
